<div class="page-center">
  <mat-card class="page-cente__mat-card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login"> Login </mat-tab>
        <mat-tab label="Register">
          <h1>Register</h1>

          <form [formGroup]="form" (ngSubmit)="onRegisterFormSubmitted(form)">
            <div>
              <mat-form-field appearance="fill"
                ><mat-label>Email</mat-label
                ><input
                  matInput
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                />
                <mat-error *ngIf="form.get('email')!.invalid">{{
                  form.get("email")?.errors | emailValidationError
                }}</mat-error>
              </mat-form-field>
            </div>
            <div formGroupName="dateOfBirth">
              <div>
                <mat-form-field appearance="fill"
                  ><mat-label>Day</mat-label
                  ><input
                    matInput
                    type="number"
                    placeholder="Day"
                    formControlName="day"
                    min="1"
                    max="31"
                  />
                  <mat-error *ngIf="form.get('dateOfBirth.day')!.invalid"
                    >Day is invalid</mat-error
                  >
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill"
                  ><mat-label>Month</mat-label
                  ><input
                    matInput
                    type="number"
                    placeholder="Month"
                    formControlName="month"
                    min="1"
                    max="12"
                  />
                  <mat-error *ngIf="form.get('dateOfBirth.month')!.invalid"
                    >Month is invalid</mat-error
                  >
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill"
                  ><mat-label>Year</mat-label
                  ><input
                    matInput
                    type="number"
                    placeholder="Year"
                    formControlName="year"
                    [min]="getMinYear()"
                    [max]="getMaxYear()"
                  />
                  <mat-error *ngIf="form.get('dateOfBirth.year')!.invalid"
                    >Year is invalid</mat-error
                  >
                </mat-form-field>
              </div>
              <mat-error *ngIf="form.get('dateOfBirth')?.hasError('maxDay')">
                <p>
                  day of this month must be less or equal than
                  {{ form.get("dateOfBirth")?.getError("maxDay") }}
                </p>
              </mat-error>
            </div>
            <div>
              <mat-form-field appearance="fill"
                ><mat-label>Password</mat-label
                ><input
                  matInput
                  type="text"
                  placeholder="Password"
                  formControlName="password"
                />
                <mat-error *ngIf="form.get('password')!.invalid">{{
                  form.get("password")?.errors | passwordValidationError
                }}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill"
                ><mat-label>Repeat Password</mat-label
                ><input
                  matInput
                  type="text"
                  placeholder="Repeat Password"
                  formControlName="confirmPassword"
                />
                <mat-error *ngIf="form.hasError('confirmPassword')"
                  >Passwords do not match</mat-error
                >
              </mat-form-field>
            </div>
            <div>
              <button type="submit" mat-raised-button color="primary">
                Register
              </button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content></mat-card
  >
</div>
