<div class="page-center">
  <mat-card class="page-cente__mat-card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Register">
          <h1>Register</h1>

          <form [formGroup]="form" (ngSubmit)="onRegisterFormSubmitted(form)">
            <div>
              <mat-form-field appearance="fill"
                ><mat-label>Email</mat-label
                ><input
                  matInput
                  type="text"
                  placeholder="Email"
                  formControlName="email"
                />
                <mat-error *ngIf="form.get('email')!.invalid && form.get('email')!.dirty">{{ form.get('email')?.errors | emailValidationError }}</mat-error>
              </mat-form-field
              >
            </div>
            <div>
              <mat-form-field appearance="fill"
                ><mat-label>Password</mat-label
                ><input
                  matInput
                  type="text"
                  placeholder="Password"
                  formControlName="password"
                />
                <mat-error *ngIf="form.get('password')!.invalid && form.get('password')!.dirty">{{ form.get('password')?.errors | passwordValidationError }}</mat-error>
                </mat-form-field
              >
            </div>
            <div>
              <mat-form-field appearance="fill"
                ><mat-label>Repeat Password</mat-label
                ><input
                  matInput
                  type="text"
                  placeholder="Repeat Password"
                  formControlName="confirmPassword"
                /><mat-error *ngIf="form.get('confirmPassword')!.invalid"
                  >Repeat Password is invalid</mat-error
                ></mat-form-field
              >
            </div>
            <div>
              <button type="submit" mat-raised-button color="primary">
                Register
              </button>
            </div>
          </form>

        </mat-tab>
        <mat-tab label="Login"> Login </mat-tab>
      </mat-tab-group>
    </mat-card-content></mat-card
  >
</div>
